<div class="albums">
    <h1>Albums</h1>
  <div class="row">
          <div *ngFor ="let album of albums; let index = index">
            <br>
              <div class="col">
                <div style="width: 100%; min-height: 300px">
                  <div style="width: 200px; min-height: 50px; text-align: center"><b>{{album.title}}</b></div>
                  <br>
                  <img src="{{album.cover_medium}}">
                </div>
              </div>
            </div>
  </div>
  
</div>
